* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1665346360092-6d936451b012?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1780&q=80") center center fixed;
    background-size: cover;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    text-align: center;
}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;
}

.clock div span {
    width: 100px;
    height: 80px;
    /* background-color: slateblue; */
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* background: darkblue; */
    opacity: 0.7;
}

.clock #ampm {
    position: absolute;
    bottom: 40.5%;
    width: 80px;
    height: 30px;
    font-size: 20px;
    opacity: .7;
    letter-spacing: 2px;
    /* background-color: green; */
}




/* 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Orbitron, sans-serif;
    background: rgb(44, 185, 181);
    background: radial-gradient(circle, rgba(44, 185, 181, 1) 0%, rgba(11, 48, 47, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
    text-shadow: 0 0 10px #0FFF50;
}

#container {
    height: 50vh;
    width: 50vw;
    background: #ffffff0f;
    box-shadow: 0 0 50px black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#time {
    font-size: 6vw;
    display: flex;
    justify-content: center;
}

#day {
    font-size: 4vw;
    display: flex;
    justify-content: center;
}

#date {
    font-size: 2vw;
    display: flex;
    justify-content: center;
} */